### 운영체제별 무시 파일 ###

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride

# 아이콘?
Icon?
__MACOSX/

# macOS 시스템 파일
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### 시스템 또는 편집기 백업 파일 ###
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp

### Node ###
node_modules/
npm-debug.log
yarn-error.log
lerna-debug.log
pids/
*.pid

### Python ###
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/